<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Info</title>
    </head>
    <body>
        <div class="header">
            <a href="{% url 'first_app:books' %}">Home</a>
            <a href="{% url 'first_app:addBookReview' %}">Add Book and Review</a>
            <form action="{% url 'logreg:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
        <div class="user_info">
            <h2>Name: {{user_info.fname}} {{user_info.lname}}</h2>
            <h2>Email: {{user_info.email}}</h2>
            <h2>Total Books Reviewd: {{review_count}}</h2>
        </div>
        <div class="books_reviewed">
            {% if reviews %}
                <h3>Posted reviews on the follwing books</h3>
                {% for review in reviews %}
                    <h4><a href="/books/{{review.book.id}}">{{review.book.title}}</a></h4>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
