.form_row label, input{
    display: inline-block;
    margin: 15px;
}
.form_row label{
    width: 150px;
}
.form_errors{
    margin: 0px 15px;
    font-size: 15px;
    font-style: italic;
    color: red;
}
button{
    width: 60px;
    height: 30px;
    border: none;
    color: white;
    background-color: blue;
}