*{
    padding: 0px;
    margin: 0px;
}
form{
    margin: 40px 0px 0px 40px;
}

input{
    display: block;
    width: 150px;
    height: 30px;
    border: 1px solid blue;
    margin-top: 10px;
    margin-bottom: 20px;
}

label{
    font-style: italic;
    font-family: sans-serif;
}

#submit{
    background-color: white;
}
#submit:hover{
    background: blue;
    color: white;
}

.error{
    color: red;
    font-size: 10px;
}
