.first{
    color: red;
}
.second{
    color: green;
}
.text{
    width: 400px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
img{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 150px; 
}