<h2>Create a new product</h2>
<form (submit)="newProductSubmit($event) || productForm.reset()" #productForm="ngForm">
  <div class="form_row">
    <label>Title:</label>
    <input type="text" name="prodTitle" minlength="3" required="true" [(ngModel)]="newProduct.title" #prodTitle="ngModel">
  </div>
  <div *ngIf="(prodTitle.touched || prodTitle.dirty) && prodTitle.errors">
    <p class="form_errors" *ngIf="prodTitle.errors.required">Field cannot be empty</p>
    <p class="form_errors" *ngIf="prodTitle.errors.minlength">Minimum {{prodTitle.errors.minlength.requiredLength}} characters required</p>
  </div>
  <div class="form_row">
    <label>Price:</label>
    <input type="number" name="prodPrice" required="true" [(ngModel)]="newProduct.price" #prodPrice="ngModel">
  </div>
  <div *ngIf="(prodPrice.touched || prodPrice.dirty) && prodPrice.errors">
    <p class="form_errors" *ngIf="prodPrice.errors.required">Field cannot be empty</p>
  </div>
  <div class="form_row">
    <label>Image Url:</label>
    <input type="text" name="prodImg" [(ngModel)]="newProduct.image_url" #prodImg="ngModel">
  </div>
  <button [hidden]="productForm.invalid">Create</button>
</form>