<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            h3{
                font-family: "Comic Sans MS", cursive, sans-serif;
            }
            li{
                list-style-type: none;
            }
        </style>
    </head>
    <body>
        <h3>My Projects:</h3>
        <ul>
            <li><h3>- Danger Zones</h3></li>
            <li><h3>- Fat Unicorn: The Poopening</h3></li>
            <li><h3>- My Cohort</h3></li>
            <li><h3>- Certify me</h3></li>
            <li><h3>- Woof Woof Go!</h3></li>
        </ul>
    </body>
</html>
