#container{
    margin: 0 auto;
    width: 900px;
    font-family: sans-serif;
}
.form_row{
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
}
.form_row label{
    width: 150px;
    display: inline-block;
    text-align: right;
}
.form_row input{
    display: inline-block;
}
button{
    margin-left: 350px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: 0.5px solid black;
    background-color: white;
}

.form_error{
    font-size: 10px;
    color: red;
    display: inline-block
}