<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Most Popular Secrets</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'first_app/secrets_css.css' %}" media="screen" title="no title"/>
    </head>
    <body>
        <div class="header">
            <h1>Most popular Secrets...</h1>
            <a href="/landing/{{user_id}}">Back</a>
        </div>
        {% if secrets_likes %}
            {% for secret_like in secrets_likes %}
                <div class="secret_post">
                    <h3>{{secret_like.0.secret}}</h3>
                    <h3 class="likes">{{secret_like.1}} likes</h3>
                    {% if secret_like.0.author.id|add:0 == user_id|add:0 %}
                        <h3>You posted this</h3>
                        <a href="/delete/{{secret_like.0.id}}">Delete</a>
                    {% else %}
                        {% if secret_like.2 == 1 %}
                            <h3 class="you_like">You liked this</h3>
                        {% else %}
                            <a href="/like/{{user_id}}/{{secret_like.0.id}}">Like</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>
