.noteclass{
    height: 110px;
    margin: 20px;
    border: 0.2px solid black;
    margin-bottom: 40px;
}
h3, h5{
    margin-top: 0px;
    margin-left: 10px;
}
h5{
    position: relative;
    left: 500px;
}
fieldset{
    height: 500px;
     overflow: scroll;
}