body{
    background-image: url('scenery.jpg');
}

h1{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    font-weight: lighter;
}

#header{
    margin-top: 100px;
}

#date_obj{
    margin: 0 auto;
    width: 500px;
    border: 0.5px solid white;
}
